---
layout: default
title: flatMap(Oslo)
---
<div class="row">

  <div class="span10 offset1">
    <div class="hero-unit">
      <h2>Welcome to the 3rd edition!</h2>
      <p>
        On the 12th and 13th of May 2014, 200 enthusiasts gathered in Oslo, Norway – for 2 days of Scala and functional programming on the JVM.
      </p>
      <p class="button-group">        
        <a href="http://www.eventbrite.com/e/flatmaposlo-2014-tickets-10699686049" class="btn btn-primary btn-large disabled"><i class="icon-shopping-cart"></i> Sorry flatMap(Oslo) 2014 is over</a>
      </p>
      <p>Looking for the flatMap(Oslo) 2013 videos? See <a href="http://2013.flatmap.no">here</a></p>
  </div>  
</div>
    
{% include schedule.html %}
    
{% comment %}
{% include speakers.html %}
{% endcomment %}
