<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta content="{{ page.title }}" property="og:title">
    <meta name="description" content="On the 12th and 13th of May 2014, 200 enthusiasts will gather in Oslo, Norway - for 2 days of Scala and functional programming on the JVM"/>
    <meta property="og:description" content="On the 12th and 13th of May 2014, 200 enthusiasts will gather in Oslo, Norway - for 2 days of Scala and functional programming on the JVM">
    <meta property="og:image" content="http://www.flatmap.no/m/flatmap_identity.png">
    <meta name="twitter:site" content="@flatmaposlo">
    <meta name="twitter:card" content="summary">
    <meta name="author" content="Erlend Hamnaberg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="/c/screen.css" media="screen"/>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="header">
      <div class="container">
        <h1>
          <a href="/">
            <span class="logo"><i class="icon-reorder"></i></span><span class="func">flatMap(Oslo)</span>
          </a>
        </h1>
        <p>
          <span class="func">12&ndash;13 May 2014</span>
        </p>
      </div>
    </div>
