<ul class="nav">
  <li{% if page.url == "/index.html" %} class="active"{% endif %}><a href="/">Home</a></li>
  <li{% if page.url == "/cfp.html" %} class="active"{% endif %}><a href="/cfp.html">Call for Speakers</a></li>
  <li{% if page.url contains "/speakers/" %} class="active"{% endif %}><a href="/speakers/">Speakers</a></li>  
  <li{% if page.url == "/venue.html" %} class="active"{% endif %}><a href="/venue.html">Venue</a></li>
  <li{% if page.url == "/about.html" %} class="active"{% endif %}><a href="/about.html">About</a></li>  
</ul>
