<div class="row">
  <div class="span12">
    <table class="schedule">
      <tbody>
        <tr>
          <th></th>
          <th>Monday Track 1</th>
          <th>Monday Track 2</th>
          <th>Tuesday Track 1</th>
          <th>Tuesday Track 2</th>
        </tr>
        <tr>
          <th>08:00–08:45</th>
          <td colspan="2" class="interlude">Registration &amp; breakfast</td>
          <td colspan="2" rowspan="2" class="interlude">Breakfast</td>
        </tr>
        <tr>
          <th>08:45–09:00</th>
          <td colspan="2">Announcements</td>
        </tr>
        <tr>
          <th>09:00–10:00</th>
          <td colspan="2" class="keynote">
            <a href="/speakers/odersky.html">
              <h3>Keynote</h3>
              <div class="speaker">Martin Odersky</div>
              <div class="talk"></div>
            </a>
          </td>
          <td>
            <a href="/speakers/winjehost.html">
              <div class="speaker">Einar Høst &amp; Jonas Winje</div>
              <div class="talk">Optimizing Lambda Calculus</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/speakers/burmako.html">
              <div class="speaker">Eugene Burmako &amp; Denys Shabalin</div>
              <div class="talk">Macrology 201</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>10:10–10:50</th>
          <td>
            <a href="/speakers/tangren.html">
              <div class="speaker">Doug Tangren</div>
              <div class="talk">The Future is primitive</div>
            </a>
          </td>
          <td></td>
          <td>
            <a href="/speakers/johansen.html">
              <div class="speaker">Christian Johansen</div>
              <div class="talk">Functional UI programming</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>10:50–11:20</th>
          <td colspan="2" class="interlude">Break</td>
          <td colspan="2" class="interlude">Break</td>
        </tr>
        <tr>
          <th>11:20–12:00</th>
          <td>
            <a href="/speakers/amin.html">
              <div class="speaker">Nada Amin</div>
              <div class="talk">DOT calculus</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/speakers/andersen-gott-lysebraate.html">
              <div class="speaker">Morten Andersen-Gott & Alfred Lysebraate</div>
              <div class="talk">Scala Intro</div>
            </a>
          </td>
          <td>
            <a href="/speakers/osheim.html">
              <div class="speaker">Erik Osheim</div>
              <div class="talk">Regexes, Kleene algebras, and real ultimate power!</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/speakers/stoyle.html">
              <div class="speaker">Alf Kristian Støyle &amp; August Lilleaas</div>
              <div class="talk">Intro to Clojure</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>12:10–12:50</th>
          <td>
            <a href="/speakers/lilleaas.html">
              <div class="speaker">August Lilleaas</div>
              <div class="talk">The imminent revolution of functional append-only databases</div>
            </a>
          </td>
          <td>
            <a href="/speakers/pajer.html">
              <div class="speaker">Alissa Pajer</div>
              <div class="talk">How Haskell is Changing my Brain</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>12:50–13:50</th>
          <td colspan="2" class="interlude">Lunch</td>
          <td colspan="2" class="interlude">Lunch</td>
        </tr>
        <tr>
          <th>13:50–14:30</th>
          <td>
            <a href="/speakers/mcadams.html">
              <div class="speaker">Brendan W. McAdams</div>
              <div class="talk">Netflix + Scala</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/speakers/hupel.html">
              <div class="speaker">Lars Hupel</div>
              <div class="talk">Scalaz</div>
            </a>
          </td>
          <td>
            <a href="/speakers/pretty.html">
              <div class="speaker">Jon Pretty</div>
              <div class="talk">Rapture JSON</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="">
              <div class="speaker">Doug Tangren &amp; Jon-Anders Teigen</div>
              <div class="talk">sbt</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>14:40–15:20</th>
          <td>
            <a href="/speakers/jorgensen.html">
              <div class="speaker">Simen Fure Jørgensen</div>
              <div class="talk">Selling new tech to skeptics: Getting past 99 no's</div>
            </a>
          </td>
          <td>
            <a href="">
              <div class="speaker"></div>
              <div class="talk">Unconference session</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>15:20–15:50</th>
          <td colspan="2" class="interlude">Break</td>
          <td colspan="2" class="interlude">Break</td>
        </tr>
        <tr>
          <th>15:50–16:30</th>
          <td>
            <a href="/speakers/berg.html">
              <div class="speaker">Øyvind Raddum Berg</div>
              <div class="talk">How we ported our application from Java to Scala</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/speakers/sabin.html">
              <div class="speaker">Miles Sabin</div>
              <div class="talk">shapeless 2.0</div>
            </a>
          </td>
          <td>
            <a href="/speakers/bodil.html">
              <div class="speaker">Bodil Stokke</div>
              <div class="talk">The Mess We've Made</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/speakers/vraalsen.html">
              <div class="speaker">Fredrik Vraalsen</div>
              <div class="talk">Functional Programming in Java 8</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>16:40–17:20</th>
          <td>
            <a href="/speakers/pretty.html">
              <div class="speaker">Jon Pretty</div>
              <div class="talk">Doing Batshit Crazy Algebra with Scala Types!</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>17:20–</th>
          <td colspan="2" class="interlude">Dinner &amp; party</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
