<div class="span12">

  <div class="page-header">
    <h1>Sponsors <small>making it possible</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <a href="http://arktekk.no/"><img src="/m/sponsors/arktekk.png" alt="Arktekk"/></a>
    </div>
    <div class="span4">
      <a href="http://finn.no/"><img src="/m/sponsors/FINN.png" alt="FINN.no"/></a>
    </div>
    <div class="span4">
      <a href="http://www.conax.com/"><img src="/m/sponsors/conax.png" alt="Conax"/></a>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <a href="http://bekk.no/"><img src="/m/sponsors/bekk.png" alt="BEKK"/></a>
    </div>
    <div class="span4">
      <a href="http://iterate.no/"><img src="/m/sponsors/iterate.png" alt="Iterate"/></a>
    </div>
    <div class="span4">
      <a href="http://miles.no/"><img src="/m/sponsors/miles.png" alt="Miles"/></a>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <a href="http://kodemaker.no/"><img src="/m/sponsors/kodemaker.png" alt="Kodemaker"/></a>
    </div>
    <div class="span4">
      <a href="http://itera.no/"><img src="/m/sponsors/itera.png" alt="Itera"/></a>
    </div>
  </div>
</div>
